# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore hidden directories
*/.ipynb_checkpoints/

# Ignore Jupyter Notebook metadata
*.ipynb-meta/

# Ignore temporary or backup files
.~
*.bak
*.swp
*.temp

# Ignore Python cache files
_pycache_/
*.py[cod]
*$py.class

# Ignore virtual environments
venv/
.env/

# Ignore package management files
pip-log.txt
pip-delete-this-directory.txt

# Ignore local system files
.DS_Store
Thumbs.db

# Ignore Jupyter configuration
.jupyter/
.jupyterlab/

# Ignore outputs from Jupyter Notebook
*.out
*.log

# Ignore environment files
*.env
.env/